<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.3.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
            	<value>application-dev.properties</value>
                <value>scorecard-mac.properties</value>
                <value>scorecard-win.properties</value>
                <value>scorecard.properties</value>
            </list>
        </property>
    </bean>
	
	<bean id="scorecardDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
	    <property name="driverClassName"><value>com.mysql.cj.jdbc.Driver</value></property>
	    <property name="url"><value>${database.jdbc.url}</value></property>
	    <property name="username"><value>Scorecard</value></property>
	    <property name="password"><value>card</value></property>
	</bean>
	
   
    <!-- <import resource="spring.beans.xml"/> -->
   
</beans>
