<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.3.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
   
    <!-- Session Factory for Hibernate -->
	<bean id="scorecardSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
       <property name="mappingResources">
           <list>
               <value>mapping-resources/conta.hbm.xml</value>
               <value>mapping-resources/passivo.hbm.xml</value>
               <value>mapping-resources/parcela.hbm.xml</value>
               <value>mapping-resources/ativo.hbm.xml</value>
               <value>mapping-resources/observacao.hbm.xml</value>
               <value>mapping-resources/contaCorrente.hbm.xml</value>
               <value>mapping-resources/banco.hbm.xml</value>
               <value>mapping-resources/orcamento.hbm.xml</value>
               <value>mapping-resources/transferencia.hbm.xml</value>
               <value>mapping-resources/cartaoContratado.hbm.xml</value>
           </list>
       </property>
       <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
               <prop key="hibernate.show_sql">false</prop>
               <!-- 
               <prop key="hibernate.connection.shutdown">true</prop>
               <prop key="hibernate.connection.autocommit">true</prop>
                -->
           </props>
       </property>
       <property name="dataSource">
           <ref bean="scorecardDataSource"/>
       </property>
   </bean>
   
   <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
      <property name="sessionFactory" ref="scorecardSessionFactory" />
   </bean>
   
   <tx:annotation-driven transaction-manager="transactionManager" />
   
   <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
	   <property name="sessionFactory">
	     <ref bean="scorecardSessionFactory"/>
	   </property>
   </bean>
   
   <!-- Data Access Object's -->
   <bean id="contaDAO" class="br.ujr.scorecard.model.conta.ContaDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="passivoDAO" class="br.ujr.scorecard.model.passivo.PassivoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="chequeDAO" class="br.ujr.scorecard.model.passivo.cheque.ChequeDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="cartaoDAO" class="br.ujr.scorecard.model.passivo.cartao.CartaoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="ativoDAO" class="br.ujr.scorecard.model.ativo.AtivoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="observacaoDAO" class="br.ujr.scorecard.model.observacao.ObservacaoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="contaCorrenteDAO" class="br.ujr.scorecard.model.cc.ContaCorrenteDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="bancoDAO" class="br.ujr.scorecard.model.banco.BancoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="orcamentoDAO" class="br.ujr.scorecard.model.orcamento.OrcamentoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="transferenciaDAO" class="br.ujr.scorecard.model.transferencia.TransferenciaDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>
   <bean id="cartaoContratadoDAO" class="br.ujr.scorecard.model.cartao.contratado.CartaoContratadoDAOHibernate">
       <property name="sessionFactory">
          <ref bean="scorecardSessionFactory"/>
       </property>
   </bean>

   <bean id="scorecardManager" class="br.ujr.scorecard.model.ScorecardManagerImpl">
	   <property name="contaDAO">
		   <ref bean="contaDAO"/>
	   </property>
	   <property name="passivoDAO">
		   <ref bean="passivoDAO"/>
	   </property>
	   <property name="chequeDAO">
		   <ref bean="chequeDAO"/>
	   </property>
	   <property name="cartaoDAO">
		   <ref bean="cartaoDAO"/>
	   </property>
	   <property name="ativoDAO">
		   <ref bean="ativoDAO"/>
	   </property>
	   <property name="observacaoDAO">
		   <ref bean="observacaoDAO"/>
	   </property>
	   <property name="contaCorrenteDAO">
		   <ref bean="contaCorrenteDAO"/>
	   </property>
	   <property name="bancoDAO">
		   <ref bean="bancoDAO"/>
	   </property>
	   <property name="orcamentoDAO">
		   <ref bean="orcamentoDAO"/>
	   </property>
	   <property name="transferenciaDAO">
		   <ref bean="transferenciaDAO"/>
	   </property>
	   <property name="cartaoContratadoDAO">
		   <ref bean="cartaoContratadoDAO"/>
	   </property>
	   <property name="mavenTests">
   	   		<value>1</value>
   	   </property>
   </bean>
   
</beans>
